.nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  gap: 20px;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  font-family: 'Dancing Script';
}

@media screen and (width<=550px) {
  .nav{
    justify-content: center;
  };
}

.nav h3{
  text-wrap: nowrap;
  font-size: 40px;
  cursor: pointer;
}
.nav ol{
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}
.nav ol li button{
  font-size: 22px;
  border: 0px solid transparent;
  background-color: transparent;
  display: flex;
  color: black;
  cursor: pointer;
}